.account-container {
  margin-top: 5rem;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  padding: 2rem;
  max-width: 1200px;
}

.saved-places-section {
  margin-top: 2rem;
  min-height: 25vh;
  border-radius: 20px;
  border-color: white;
  border: 1px solid white;
  background-color: #000;
  color: #fff;
  padding: 2rem;
  max-width: 1200px;
  align-items: center;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  letter-spacing: -0.02em;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 2rem;
  letter-spacing: -0.02em;
  text-decoration: underline;
}

.account-p {
  font-size: 1.125rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  color: #e0e0e0;
}

.account-button {
  background-color: black;
  border: 2px solid #fff;
  color: white;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 2rem;
}

.account-button:hover {
  background-color: #fff;
  color: #000;
}

/* Loading state styles */
.account-p:only-child {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  font-size: 0.9rem;
  text-align: center;
  transition: color 0.2s ease;
  margin-bottom: 5rem;
}

.saved-places-filter-container {
  margin-top: 1rem;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 1rem;
  padding-bottom: 0.5rem;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
}

.saved-places-filter-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome/Safari */
}

.saved-places-filter-button {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  flex-shrink: 0; /* Prevents buttons from shrinking */
}

.saved-places-filter-button.all.active {
  background-color: #fff;
  color: #000;
}

.saved-places-filter-button.food.active {
  background-color: #007BFF; /* Blue */
  color: #fff;
}

.saved-places-filter-button.drink.active {
  background-color: #FF8C00; /* Orange */
  color: #fff;
}

