.checkbox-container {
    display: flex;
    align-items: center;
    margin: 0.8rem 0;
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.2s ease;
  }
  
  .checkbox-container:hover,
  .select-all-container:hover {
    transform: translateX(5px);
  }
  
  .select-all-container {
    font-weight: 500;
    color: white;
  }
  
  .custom-checkbox {
    width: 18px;
    height: 18px;
    border: 2px solid white;
    border-radius: 4px;
    margin-right: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
  }
  
  .custom-checkbox:after {
    content: '✓';
    display: none;
    color: black;
    font-size: 16px;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]:checked + .custom-checkbox {
    background-color: white;
  }
  
  input[type="checkbox"]:checked + .custom-checkbox:after {
    display: block;
  }
  
  .neighborhood-list {
    padding: 1rem 1.5rem;
  }