.view-toggle {
    width: 100%;
    display: flex;
    background: linear-gradient(45deg, rgba(255, 107, 107, 0.2), rgba(78, 205, 196, 0.2));
    border: 2px solid white;
    border-radius: 25px;
    overflow: hidden;
    max-width: 300px;
    max-height: 50px;
    margin: 10px auto;
  }
  
  .view-toggle-option {
    flex: 1;
    padding: 12px 20px;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    width: 50%;
    border-radius: 23px; /* Slightly smaller than container to create inner border effect */
  }
  
  .view-toggle-option:hover {
    background: linear-gradient(45deg, rgba(255, 107, 107, 0.2), rgba(78, 205, 196, 0.2))
  }
  
  .view-toggle-option.active {
    background: linear-gradient(45deg, rgba(255, 107, 107, 0.5), rgba(78, 205, 196, 0.5));
    color: white;
    border: 2px solid white; /* White border for active option */
    margin: -2px; /* Compensate for border to maintain layout */
  }

  .custom-popup .leaflet-popup-content-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
}

.custom-popup .leaflet-popup-content {
    margin: 15px;
}