/* Sections */
  
.sections-container {
  width: 100%;
  margin-top: 1rem;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards 0.3s;
}

.section {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  overflow: hidden;
}

.section-header {
  padding: 1.5rem;
  font-size: 1.5rem;
  border: 2px solid white;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  transition: background-color 0.3s ease;
}

.section-header:hover {
  background: linear-gradient(45deg, rgba(252,142,172, 0.25), rgba(78, 205, 196, 0.25));
  opacity: 1;
  transition: background 0.3s ease;
}

.section.area > .section-header {
  background-color: black;
  border: 1px solid white;
  padding: 0.5rem;
  margin: 5px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.section-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.section-content.open {
  max-height: 5000px;
}

.select-all-section {
  padding: 0.8rem 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
}